@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin:40px auto;
  }
  
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin:40px;
  }
  
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    margin:40px auto;
  }
  
}
body	{
	background-image:url("images/bgphoto.jpg");
	background-repeat: no-repeat, repeat;
	background-attachment: fixed;
 	background-size: cover;
}

h1, h2	{
	letter-spacing: 8px
}
h1	{
	font-family: 'Comfortaa', cursive;
	line-height: 25px
	font-size: 72px;
	background: -webkit-linear-gradient(0.5turn,#34487B,#C7709B,#FF9C80,#FFAA83);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h2 {
	font-family: 'Source Serif 4', sans-serif;
	color:#513439;
}
a,p{
	font-family: 'Source Serif 4', sans-serif;
	font-weight: 200px 
}
p {
	margin: 20px 60px;
}
.schools {
	font-family: 'Source Serif 4', sans-serif;
	font-weight: 500px ;
	text-decoration: none;
	list-style: none;
	padding-left: 0px;
}
.schools li {
		
}
.media{
	text-decoration: none;
	list-style-position:inside;
	padding-left: 0px;
}
.media li {
	display: inline;
	padding: 10px;
	line-height: 5px;
}
.media i {
	font-size: 100px;
	color:#FCB7A0;
	transition: color 0.3s ease;
	text-decoration: none;
}
.thumbnail {
	border-radius: 50px;
	padding:8px 8px;
	margin: 5px;
	background-color: #DFCCBF;
	color:#381D21;
  	transition: color 0.3s ease;
  	text-decoration: none;\
}
.thumbnail:hover {
	background-color: #381D21;
	opacity: 70%;
}
.media i:hover {
	color:#F1D7D0;	
	text-decoration: none;	
}
.card-white {
	background:#F1ECEC; 
	opacity: 88%;                        /* White background */
	padding: 30px;                             /* Internal space */
	border-radius: 10px;                        /* Small radius */
	box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
	width: 700px;     /* Fix the width first*/
	margin: 20px auto; /* Let CSS compute the same left & right margins automatically*/
	text-align: center;
	transition: color 1.0s ease;
}
.card-white:hover{
	opacity: 100%;
}
.container {
  width: 700px; /* set the width of your container */
  margin: 40px auto; /* set margins: top/bottom: 40px; left/right: automatic */
}
#pfp {
	width: 189px;
	border-radius: 3px;
	box-shadow: 0px 0px 30px #E7A48B;
	border-image: linear-gradient(45deg, rgb(255,236,210), rgb(252,182,159)) 1;
}
#canva-button{
	border-radius: 5px;
	padding:8px 15px;
	background-color: #DFCCBF;
	color:#381D21;
  	transition: color 0.3s ease;
  	text-decoration: none;
}
#canva-button:hover {
	background-color: #381D21;
    color: #DFCCBF;
    text-decoration: none;
}
